---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="container">
  <div class="text-container">
    <img src="/arc.svg" alt="" />
    <h3 class="text">{t("projects.tobecontinued")}</h3>
  </div>
</div>

<style>
  .text {
    text-transform: uppercase;
  }
  img {
    position: absolute;
    top: -100%;
    left: 60%;
    width: 70%;
    height: 130%;
    transform: translateX(-50%);
  }
  .text-container {
    position: relative;
  }
  .container {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: black;
    color: white;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
