<div><span>Coming soon</span></div>

<style>
  div {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: black;
    color: white;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
