---
import Project from "./Project.astro";
import ComingSoon from "./ComingSoon.astro";
import Section from "../Section.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const cases = await getCollection("cases", (entry) => {
  let [caseLanguage] = entry.slug.split("/");
  return lang === caseLanguage;
});
---

<Section>
  <div class="container">
    {
      cases.map((entry) => {
        let { title, boxart, description } = entry.data;
        let [, name] = entry.slug.split("/");
        return (
          <Project
            title={title}
            img={boxart}
            description={description}
            link={`${lang === "ru" ? "/ru" : ""}/cases/${name}/`}
          />
        );
      })
    }
    <ComingSoon />
  </div>
</Section>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    margin-bottom: 1.2rem;
  }
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
</style>
