---
export type Props = {
  name: string;
};
const { name } = Astro.props;
---

<div><span>{name}</span></div>

<style>
  div {
    padding: 0.6rem 1.2rem;
    border-radius: 1000px;
    border: 2px solid;
    border-color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: white;
    transition: all 0.2s ease-in-out;
  }
  div:hover {
    background-color: limegreen;
    color: black;
    border-color: limegreen;
  }
  span {
    text-transform: uppercase;
    white-space: nowrap;
  }
</style>
