---
export type Props = {
  name: string;
};
const { name } = Astro.props;
---

<div><span>{name}</span></div>

<style>
  div {
    padding: 0.6rem 1.2rem;
    border-radius: 1000px;
    cursor: default;
    border: 1px solid;
    border-color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: white;
    transition: all 0.2s ease-in-out;
  }
  div:hover {
    background-color: var(--accent);
    color: black;
    border-color: var(--accent);
  }
  span {
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 1.1rem;
  }
</style>
