---
type Props = {
  id: string;
};
const { id } = Astro.props;
---

<h1 id={id}>
  <slot />
</h1>

<style>
  h1 {
    font-family: Montserrat;
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 150%;
    scroll-margin-top: 6rem;
    margin: 2rem 0 1rem 0;
  }
</style>
