---
type Props = {
  id: string;
};
const { id } = Astro.props;
---

<h2 class="heading" id={id}>
  <slot />
</h2>

<style>
  h2 {
    font-weight: 800;
    line-height: 150%;
    scroll-margin-top: 4rem;
    margin: 2rem 0 1rem 0;
  }
</style>
