---
import SolidIframe from "./Iframe/Iframe";
import { Image } from "astro:assets";
import Placeholder from "~/projects/article1/for_prototype.png";

export type Props = {
  src: string;
};

const { src } = Astro.props;
---

<div class="container">
  <SolidIframe client:only src={src} title="Prototype">
    <Image src={Placeholder} alt="Prototype placeholder" />
  </SolidIframe>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 1rem 0 1rem 0;
  }
</style>
