---
import { ImageMetadata } from "astro";
import SolidIframe from "./Iframe/Iframe";
import { Image } from "astro:assets";

export type Props = {
  url: string;
  placeholder: ImageMetadata;
  title: string;
};

const { url, title, placeholder } = Astro.props;
---

<div class="container">
  <SolidIframe client:only src={url} title={title}>
    <Image src={placeholder} alt="Prototype placeholder" />
  </SolidIframe>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 1rem 0 1rem 0;
  }
</style>
