---
import Section from "../Section.astro";
---

<Section>
  <div
    class="grid grid-cols-1 gap-8 text-sm md:grid-cols-3 md:gap-6 md:text-base"
  >
    <div class="flex flex-col gap-8 sm:gap-12">
      <div class="flex flex-col justify-center gap-4">
        <h3 class="text-3xl font-medium md:text-4xl">Context</h3>
        <p class="text-sm md:text-base">
          Prosto Sdam is an app that is a complete analogue of classes with
          tutors, but for children who do not have access to tutors at market
          prices.
        </p>
      </div>
      <div class="flex flex-col justify-center gap-4">
        <h3 class="text-3xl font-medium md:text-4xl">Timeline</h3>
        <p class="text-sm md:text-base">21st April 2023 – 06th June 2023</p>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <h3 class="text-3xl font-medium md:text-4xl">Challenge</h3>
      <p class="text-sm md:text-base">
        For many schoolchildren, tutoring services are very expensive, but
        nevertheless they want to receive well-structured information, the
        ability to check homework, check their progress, maintain motivation and
        receive psychological support. My goal was to come up with a solution
        that would be in demand among schoolchildren in preparing for exams and
        at the same time be accessible to a wide audience.
      </p>
    </div>
    <div class="flex flex-col justify-center gap-4">
      <h3 class="text-3xl font-medium md:text-4xl">Role</h3>
      <ul class="list-inside list-disc">
        <li class="marker:text-xs">Product Designer</li>
        <li class="marker:text-xs">UX-researcher</li>
        <li class="marker:text-xs">Product manager</li>
      </ul>
      <p>
        <strong>Responsibilities:</strong>
        Planning and control of the process and deadlines. Conducting quantitative
        and qualitative research, collecting and analyzing data, making decisions
        within the framework of the application. Development of wireframes and prototypes,
        animation and graphics.
      </p>
      <div class="flex gap-4">
        <strong>Team:</strong>
        <p>
          Kniazev Leonid <br /> Gerasimov Vadim <br /> Porozhniakov Dmitrii
        </p>
      </div>
    </div>
  </div>
</Section>
