---
import Section from "../Section.astro";
---

<Section>
  <p class="mb-4 text-sm md:text-base">
    We met with the team to understand what everyone should do. Based on this
    meeting, my part of the duties was built as follows:
  </p>
  <div class="flex items-center justify-center">
    <img src="/projects/1.png" />
  </div>
</Section>
