---
import { getEntry } from "astro:content";
import Section from "../Section.astro";
import Interest from "./Interest.astro";
import { getLangFromUrl } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const portfolio = await getEntry("portfolio", `${lang}/data`);
const { interests } = portfolio.data;
---

<Section>
  <div class="container">
    {
      interests.map((interest) => {
        return (
          <>
            <Interest img={interest.img} title={interest.name} />
          </>
        );
      })
    }
  </div>
</Section>

<style>
  .container {
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
    gap: 0.6rem;
  }
</style>
