---
import Section from "../Section.astro";
import Interest from "./Interest.astro";
export type Props = {
  interests: {
    name?: string;
    img?: string;
  }[];
};
const { interests } = Astro.props;
---

<Section>
  <div class="container">
    {
      interests.map((interest) => (
        <Interest title={interest.name} img={interest.img} />
      ))
    }
  </div>
</Section>

<style>
  .container {
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
    gap: 0.6rem;
  }
</style>
