---
import PhotoSection from "../components/PhotoSection/PhotoSection.astro";
import Seperation from "../components/Seperation.astro";
import Interests from "../components/Interests/Interests.astro";
import Projects from "../components/Projects/Projects.astro";
import SoftSkills from "../components/SoftSkills/SoftSkills.astro";
import HardSkills from "../components/HardSkills/HardSkills.astro";
import Certificates from "../components/Certificates/Certificates.astro";
import Contacts from "../components/Contacts/Contacts.astro";
import Layout from "../layouts/Layout.astro";
import RunningRows from "../components/Certificates/RunningRows.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Portfolio">
  <main>
    <PhotoSection />
    <Seperation title={t("section.interests")} id="hobbies" />
    <Interests />
    <Seperation title={t("section.projects")} id="projects" />
    <Projects />
    <Seperation isDark title={t("section.skills")} id="skills" />
    <SoftSkills />
    <HardSkills />
    <RunningRows />
    <Certificates />
    <Seperation isDark title={t("section.contacts")} id="contacts" />
    <Contacts />
  </main>
</Layout>
