<div class="container">
  <span class="title">UX-exploration</span><span class="text">
    quality research
  </span>
  <span class="text">Quantative research</span>
  <span class="text">Data analysis</span>
  <span class="title">UX-disign</span><span class="text"> Principles</span>
  <span class="text">Brainstrorming</span>
  <span class="text">Sketching</span>
  <span class="text">wire framing</span>
  <span class="text">adpating makets</span>
  <span class="title">UI-disign</span><span class="text">
    Creating animation
  </span>
  <span class="text">Creating ui-kit</span>
  <span class="title">Product management</span><span class="text">
    Unit Economy
  </span>
  <span class="text">Data bases</span>
  <span class="text">swot analysis</span>
  <span class="text">customer development</span>
  <span class="text">working in agile</span>
</div>

<style>
  .container {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: white;
    padding: 2.5rem;
    margin-right: 1.2rem;
  }
  .title {
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 1.3rem;
  }
  .text {
    font-weight: 400;
    color: #939393;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
  @media (width<768px) {
    .container {
      margin-right: 0;
    }
  }
</style>
