---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
export type Props = {
  UXResearch: string[];
  UXDesign: string[];
  UIDesign: string[];
  productManagment: string[];
};
const { UXDesign, UIDesign, UXResearch, productManagment } = Astro.props;
---

<div class="container">
  <span class="title">{t("skills.uxexploration")}</span>
  {UXResearch.map((item) => <span class="text">{item}</span>)}
  <span class="title">{t("skills.uxdesign")}</span>
  {UXDesign.map((item) => <span class="text">{item}</span>)}
  <span class="title">{t("skills.uidesign")}</span>
  {UIDesign.map((item) => <span class="text">{item}</span>)}
  <span class="title">{t("skills.productmanagment")}</span>
  {productManagment.map((item) => <span class="text">{item}</span>)}
</div>

<style>
  .container {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: white;
    padding: 2.5rem;
    margin-right: 1.2rem;
  }
  .title {
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 1.3rem;
  }
  .text {
    font-weight: 400;
    color: #939393;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
  @media (width<768px) {
    .container {
      margin-right: 0;
    }
  }
</style>
