<div class="container">
  <span class="title">using frameworks</span>
  <p class="item">design thinking process</p>
  <ul class="list">
    <li class="item">empathaise</li>
    <li class="item">ideate</li>
    <li class="item">define</li>
    <li class="item">prototyping</li>
    <li class="item">test</li>
  </ul>
  <p class="item">Empathy map</p>
  <p class="item">personas</p>
  <p class="item">customer journey map</p>
  <p class="item">user flow</p>
  <p class="item">user stories</p>
  <p class="item">JTBD</p>
</div>
<style>
  .container {
    margin: 70% auto;
  }
  .title {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
  .list {
    margin-left: 2.75rem;
  }
  .item::marker {
    font-size: 0.8rem;
    margin: auto;
  }
  .item {
    text-transform: uppercase;
    margin-top: 0.6rem;
    font-weight: 400;
    font-size: 1.3rem;
  }
  @media (width<768px) {
    .container {
      margin: 0;
    }
  }
</style>
