---
import { getImage } from "astro:assets";
import Logo from "./Logo.astro";
import Section from "./Section.astro";
import background from "~/assets/footer.png";
const optimizedBackground = await getImage({
  src: background,
  format: "png",
});
---

<Section isDark>
  <div class="container"><Logo /></div>
</Section>
<div
  class="footer"
  style={`background-image: url(${optimizedBackground.src});`}
>
</div>

<style>
  .container {
    display: flex;
    padding: 3.5rem 0;
    justify-content: center;
    align-items: center;
  }
  .footer {
    height: 8rem;
    background-repeat: repeat no-repeat;
  }
</style>
