---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Logo from "./Logo.astro";
import Swichlang from "./Swichlang.astro";
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

---

<header>
  <nav>
    <ul>
      <li><a class="link" href="#">{t("nav.aboutme")}</a></li>
      <li><a class="link" href="#projects">{t("nav.projects")}</a></li>
      <li><a class="link" href="#skills">{t("nav.skills")}</a></li>
      <li><a class="link" href="#contacts">{t("nav.contacts")}</a></li>
      <li><a class="link" href="#">{t("nav.resume")}</a></li>
    </ul>
    <div class="logo">
      <Logo />
    </div>
    <Swichlang selected={lang} />
  </nav>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
    flex: 1;
    position: relative;
  }
  nav {
    background-color: #000;
    opacity: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.2rem 3.3rem;
    text-transform: uppercase;
  }
  a.link {
    color: white;
    font-size: 1rem;
    font-family: Ysabeau;
  }
  .logo {
    display: flex;
    align-items: center;
  }

  header {
    display: flex;
  }
  @media (width<1280px) {
    .logo {
      display: none;
    }
  @media (width<768px) {
    ul {
        display: none;
      }
  }
</style>
