---
export type Props = {
  isDark?: boolean;
};
const { isDark } = Astro.props;
---

<section class={`${isDark ? "dark" : ""}`}><div><slot /></div></section>

<style>
  section {
    width: 100%;
  }
  .dark {
    background-color: black;
  }
  div {
    margin: auto;
    position: relative;
    width: min(100% - 3rem, calc(1280px + 4rem));
  }
  @media (max-width: 350px) {
    div {
      width: 98%;
    }
  }
</style>
