---
import Section from "./Section.astro";

export type Props = {
  title: string;
  isDark?: boolean;
  id?: string;
};
const { title, isDark, id } = Astro.props;
---

<Section isDark={isDark}>
  <div id={id} class={`container${isDark ? " dark-container" : ""}`}>
    <h2 class={`${isDark ? "dark-span" : ""}`}>{title}</h2>
    <div class="pointer">
      <img src={isDark ? "/darkpointer.svg" : "/pointer.svg"} />
      <div class={`line${isDark ? " dark-line" : ""}`}></div>
    </div>
  </div>
</Section>

<style>
  .container {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .dark-container {
    background-color: black;
  }
  h2 {
    text-transform: uppercase;
    white-space: nowrap;
  }
  .dark-span {
    color: white;
    background-color: black;
  }
  .pointer {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
  }
  img {
    position: absolute;
    left: -20px;
  }
  .line {
    height: 5px;
    background-color: black;
    border-radius: 99999px;
    width: 100vw;
  }
  .dark-line {
    background-color: white;
  }
  @media (max-width: 768px) {
    img {
      scale: 0.5;
    }
    .container {
      padding: 0;
    }
  }
</style>
