---
export type Props = {
  selected: "ru" | "eng";
};
const { selected } = Astro.props;
---

<div>
  <a href="#">EN</a>
  <span>{" / "}</span>
  <a class="active" href="#">RU</a>
</div>
<style>
  span {
    color: white;
  }
  a {
    font-family: Ysabeau;
  }
  .active {
    font-weight: 700;
    text-decoration: underline;
  }
</style>
