---
export type Props = {
  selected: "ru" | "en";
};
const { selected } = Astro.props;
---

<div>
  <a class={selected === "en" ? "active" : ""} href="/">EN</a>
  <span>{" / "}</span>
  <a class={selected === "ru" ? "active" : ""} href="/ru/">RU</a>
</div>
<style>
  span {
    color: white;
  }
  a {
    font-family: Ysabeau;
  }
  .active {
    font-weight: 700;
    text-decoration: underline;
  }
</style>
