---
import { getEntry } from "astro:content";
import { getLangFromUrl } from "../../i18n/utils";
import Section from "../Section.astro";
import Certificate from "./Certificate.astro";
import CeritificateView from "./CeritificateView";
const lang = getLangFromUrl(Astro.url);
const portfolio = await getEntry("portfolio", `${lang}/data`);
const { certificates } = portfolio.data;
---

<Section>
  <div class="container">
    {
      certificates.map((item) => (
        <Certificate image={item.img} href={item.href} />
      ))
    }
  </div>
</Section>
<CeritificateView client:only />

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 1.2rem 0;
    align-items: center;
    justify-content: space-between;
  }
</style>
