---
export type Props = {
  image: string;
  href: string;
};
const { image, href } = Astro.props;
---

<div class="container">
  <div class="image-container">
    <a href={href} class="verify">
      <img class="icon" src="/external.svg" alt="certificate icon" />
    </a>
    <img class="img" src={image} />
  </div>
</div>

<style>
  .verify {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: black;
    border-radius: 1rem;
    color: black;
    top: 2rem;
    right: 2rem;
  }
  .container {
    width: 100%;
    margin: 1rem;
    flex-basis: 33%;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .container:hover {
    .verify {
      opacity: 100;
    }
  }
  .image-container {
    position: relative;
    width: fit-content;
  }
  .icon {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
  img.img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
</style>
