---
export type Props = {
  image: string;
  href: string;
};
const { image, href } = Astro.props;
---

<div class="container">
  <a href={href} target="_blank" class="verify">
    <img class="icon" src="/external.svg" alt="certificate icon" />
  </a>
  <button
    class="image-container certificate"
    data-verification={href}
    data-img={image}
  >
    <img class="img" src={image} alt="Project" />
  </button>
</div>

<style>
  .verify {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: black;
    border-radius: 1rem;
    color: black;
    top: 2rem;
    right: 2rem;
  }
  .container {
    position: relative;
    width: 100%;
    padding: 1rem;
    flex-basis: 33%;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .container:hover {
    .verify {
      opacity: 70%;
    }
  }
  .image-container {
    width: fit-content;
    border: 0;
    cursor: pointer;
  }
  .icon {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
  img.img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    .container {
      flex-basis: 100%;
      padding: 1rem 0;
    }
    .image-container {
      cursor: default;
    }
    .verify {
      opacity: 70%;
    }
  }
</style>
