---
import Section from "../Section.astro";
import Certificate from "./Certificate.astro";
export type Props = {
  certificates: {
    img?: string;
    href?: string;
  }[];
};
const { certificates } = Astro.props;
---

<Section>
  <div class="container">
    {
      certificates.map((item) => (
        <Certificate image={item.img} href={item.href} />
      ))
    }
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 1.2rem 0;
    align-items: center;
    justify-content: space-between;
  }
</style>
