---
export interface Props {
  src: string;
  href: string;
}

const { src, href } = Astro.props;
---

<a href={href}>
  <img class="svg" src={src} alt="icon" />
</a>

<style>
  a {
    width: 3.3rem;
    height: 3.3rem;
    cursor: pointer;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: black;
    padding: 0.8rem;
  }
  .svg {
    width: 95%;
    height: 95%;
  }
</style>
