---
import { type ImageMetadata } from "astro";
export interface Props {
  image: ImageMetadata;
  href: string;
}

const { image, href } = Astro.props;
---

<a href={href}>
  <img
    class="svg"
    src={image.src}
    height={image.height}
    width={image.width}
    alt="icon"
  />
</a>

<style>
  a {
    width: 3.3rem;
    height: 3.3rem;
    cursor: pointer;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: black;
    padding: 0.8rem;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    background: var(--accent);
    border-color: var(--accent);
  }
  .svg {
    width: 95%;
    height: 95%;
  }
</style>
