---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Icon from "./Icon.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="container">
  <h1 class="name">{t("hero.name")}</h1>
  <h3 class="occupation">
    {t("hero.occupation")}
  </h3>
  <div class="contacts">
    <div class="icons">
      <Icon src="/telegram.svg" href="TODO" />
      <Icon src="/instagram.svg" href="TODO" />
      <Icon src="/linkedin.svg" href="TODO" />
    </div>
    <a class="resume" href="/resume.pdf" target="_blank" rel="noreferrer"
      >{t("hero.resume")}</a
    >
  </div>
</div>

<style>
  .container {
    flex-basis: 50%;
    flex-shrink: 0;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .occupation {
    font-family: Montserrat;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3.3rem;
  }
  .name {
    line-height: 5rem;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 800;
  }
  .contacts {
    display: flex;
    width: 12rem;
    align-items: center;
    padding: 2rem 0;
    gap: 1.5rem;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
  .resume {
    padding: 0.6rem 1.2rem;
    white-space: nowrap;
    border-radius: 9999px;
    text-align: center;
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.3rem;
    background-color: black;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  .resume:hover {
    background-color: var(--accent);
    color: black;
  }
  @media (max-width: 1280px) {
    .contacts {
      flex-direction: column;
    }
  }
  @media (max-width: 768px) {
    .contacts {
      justify-content: start;
      align-items: center;
    }
    .resume {
      width: 100%;
    }
    .icons {
      justify-content: space-between;
      gap: 1rem;
      align-items: stretch;
    }
  }
</style>
