<img height="1000" width="804" src="photo.jpeg" alt="photo" />
<div class="container">
  <div class="filter"></div>
</div>

<style>
  .container {
    mix-blend-mode: exclusion;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 50%;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
  }
  img {
    object-fit: cover;
    top: 0;
    position: absolute;
    left: 5%;
    width: 40%;
    height: 40rem;
    z-index: 2;
    display: block;
  }
  .filter {
    position: absolute;
    top: 2rem;
    background-color: white;
    width: 90%;
    height: 40rem;
  }
  @media (width<1280px) {
    img {
      height: 30rem;
    }
    .filter {
      height: 30rem;
    }
  }
  @media (width<768px) {
    .container {
      position: static;
      overflow: hidden;
    }
    img {
      position: static;
      width: 20rem;
      height: 25rem;
    }
    .filter {
      width: 20rem;
      left: 2rem;
      height: 25rem;
    }
  }
</style>
