---
import Section from "../Section.astro";
import Information from "./Information.astro";
import MainPhoto from "./MainPhoto.astro";
import Testimonial from "./Testimonial.astro";
---

<Section>
  <div class="container">
    <MainPhoto />
    <Information />
  </div>
</Section>
<Testimonial />

<style>
  .container {
    background-color: white;
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
    gap: 2rem;
  }
  @media (width<1280px) {
    .container {
      height: 25rem;
    }
  }
  @media (width<768px) {
    .container {
      flex-direction: column;
      height: 100%;
      align-items: start;
      justify-content: center;
    }
  }
</style>
