---
import { getEntry } from "astro:content";
import { getLangFromUrl } from "../../i18n/utils";
import Section from "../Section.astro";
const lang = getLangFromUrl(Astro.url);
const portfolio = await getEntry("portfolio", `${lang}/data`);
const { aboutMe } = portfolio.data;
---

<Section isDark>
  <div class="container">
    <div class="content">
      <p class="first">
        {aboutMe.about1}
      </p>
      <br />
      <p>
        {aboutMe.about2}
      </p>
      <br />
      <p>
        {aboutMe.about3}
      </p>
    </div>
  </div>
</Section>
<style>
  .container {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: black;
    padding: 3rem 0rem;
  }
  .content {
    position: relative;
    font-family: Montserrat;
    font-size: 1rem;
    line-height: 2.1rem;
    margin: 0 3.2rem;
    min-height: 20rem;
    width: 40%;
    color: white;
  }
  .content::after {
    content: "“";
    font-family: Ysabeau;
    position: absolute;
    right: 0rem;
    top: 1rem;
    font-size: 8.3rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  p.first {
    width: 80%;
  }
  @media (max-width: 1280px) {
    .container {
      justify-content: center;
      padding-top: 10rem;
    }
    .content {
      width: 100%;
      min-height: auto;
    }
  }
  @media (max-width: 768px) {
    .container {
      justify-content: center;
      padding-top: 3rem;
      padding-left: 0;
    }
    .content {
      width: 100%;
      margin: 0;
    }
  }
</style>
