---
import Section from "../Section.astro";
import Contact from "./Contact.astro";
export type Props = {
  contacts?: {
    name?: string;
    href?: string;
  }[];
};
const { contacts } = Astro.props;
---

<Section isDark>
  <div class="container">
    {contacts.map((item) => <Contact name={item.name} href={item.href} />)}
  </div>
</Section>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.2rem;
    padding-top: 1rem;
  }
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
</style>
